{{#each model as |resistance|}}
  <tr>
    <td>
      {{resistance.owner}}
    </td>
    <td>
      {{resistance.created}}
    </td>
    <td>
      {{resistance.resistance}}
    </td>
    <td>
      {{resistance.is_critical}}
    </td>
  </tr>
{{/each}}

{{data}}
{{ember-chart type='line' data=data }}
{{data}}

