<div class="form-container">
  <form {{action 'signup' on="submit"}}>
    <h2>Sign up</h2>

    {{input id='username' placeholder='Enter Login' value=username}}
    {{input id='password' placeholder='Enter Password' type='password' value=password}}
    {{input id='token' placeholder='Insert a valid Token' value=token}}

    {{#if signupError}}
      <p> {{signupError}} </p>
    {{/if}}

    <button {{action 'signup' username password token}} disabled={{isSigningUp}}>
      {{#if isSigningUp}}
        Signing up...
      {{else}}
        Sign up
      {{/if}}
    </button>

    {{#link-to 'login'}}
      Login
    {{/link-to}}
    {{#if error}}
      <p>
        <div class="alert alert-danger">Invalid values.</div>
      </p>
    {{/if}}
  </form>
</div>
