<div class="container">
  <form {{action 'signup' on="submit"}}>
    <h1>Cadastrar</h1>

    <div class="form-group">
      <label>Login</label>
      {{input id='username' value=username class="form-control"}}
    </div>

    <div class="form-group">
      <label>Senha</label>
      {{input id='password' type='password' value=password class="form-control"}}
    </div>

    <div class="form-group">
      <label>Token da Cadeira</label>
      {{input id='token' value=token class="form-control"}}
    </div>

    <button {{action 'signup' username password token}} class="btn btn-info" disabled={{isSigningUp}}>
      {{#if isSigningUp}}
        Cadastrando...
      {{else}}
        Cadastrar
      {{/if}}
    </button>

    {{#if error}}
      <div class="alert alert-danger">
        Usuário já cadastrado.
      </div>
    {{/if}}
  </form>
</div>
